.App {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.buttons :first-child {
  width: 75%;
  outline: none;
}

.buttons :last-child {
  width: 25%;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 15px;
}

.man {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  height: 40px;
  width: 300px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.did {
  opacity: 50%;
}
